.Header-image {
 /* background: url(../assets/food.jpg) no-repeat center center fixed; 

  background-size: cover;
*/

  background: url(../assets/food.jpg); 

  /* Set a specific height */
  /*height: 200px; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Header-image-events {
 /* background: url(../assets/food.jpg) no-repeat center center fixed; 

  background-size: cover;
*/

  background: url(../assets/spices.jpg); 

  /* Set a specific height */
  /*height: 200px; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
