.Header-image {
 /* background: url(../assets/food.jpg) no-repeat center center fixed; 

  background-size: cover;
*/

  background: url(../assets/test5.jpeg); 
  /* background-color: palevioletred; */
  /* Set a specific height */
  /*height: 200px; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us-image {
  
   background: url(../assets/test10.jpeg); 
   /* background-color: palevioletred; */
  
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .causes-image {
   background: url(../assets/test21.jpeg); 
   /* background-color: palevioletred; */
   /* Set a specific height */
   /*height: 200px; */
 
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

.organizations-image {
   background: url(../assets/food.jpg); 
   /* background-color: palevioletred; */
   /* Set a specific height */
   /*height: 200px; */
 
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .how-it-works-image {
  background: url(../assets/test19.jpeg); 
  /* background-color: palevioletred; */
  /* Set a specific height */
  /*height: 200px; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.coming-soon-image {
  background: url(../assets/test5.jpeg); 
  /* background-color: palevioletred; */
  /* Set a specific height */
  /*height: 200px; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.logo-coming-soon {
  background: url(../assets/cause_cuisine_logo.png); 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 200px;
  width: 100px;
}
 
 


.aws-btn {

  --slider-height-percentage: 60%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #36b041;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #5c8215;
  --control-bullet-active-color: #26456f;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
  }

.Header-image-events {
 /* background: url(../assets/food.jpg) no-repeat center center fixed; 

  background-size: cover;
*/

  /*font-family: "Calibri";*/

  background: url(../assets/spices5.jpeg); 

  /* Set a specific height */
  /*height: 200px; */

  /* Create the parallax scrolling effect */
  /*opacity: 0.6;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/*@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');
*/