.Header-image {
 /* background: url(../assets/food.jpg) no-repeat center center fixed; 

  background-size: cover;
*/

  background: url(../assets/test21.jpeg); 

  /* Set a specific height */
  /*height: 200px; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Header-image-events {
 /* background: url(../assets/food.jpg) no-repeat center center fixed; 

  background-size: cover;
*/

  /*font-family: "Calibri";*/

  background: url(../assets/spices5.jpeg); 

  /* Set a specific height */
  /*height: 200px; */

  /* Create the parallax scrolling effect */
  /*opacity: 0.6;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/*@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');
*/